*.iml
.idea/
/captures
.externalNativeBuild
.cxx

# built application files
*.apk
*.ap_

# files for the dex VM
*.dex

# Java class files
*.class

# Gradle files
.gradle/
build/

# Proguard README
proguard-project.txt

# 本地配置文件 (sdk path, etc)
local.properties

# system ignore
.DS_Store
Thumbs.db